<h1>New Author</h1>

<ul>
  <% if @author.errors.any? %>
    <% @author.errors.full_messages.each do |msg| %>
      <li><%= msg %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= form_for(@author) do |f| %>
<label>Author:</label>
<%= f.text_field :name%><br>

<label>Birth Year:</label>
<%= f.text_field :birth_year %><br>

<%= f.submit %>
<% end %>