<!DOCTYPE html>
<html>
  <head>
    <title>TomThinks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>

      #button1 {

        text-decoration: none !important;
      }
    </style>
  </head>

  <body>
    <nav>
      <ol>
        <li><%= link_to "Authors Index", authors_url%></li>
        <li><%= link_to "Books Index", books_url%>

        <ol></nav>
        <hr>
        <%= yield %>
      </body>
    </html>